<%-layout("/layouts/boilerplate")%>
 
<body>
  <div class="mt-4 mb-2">
    <h3>Caregivers</h3>
  </div>
    <!--<form method="GET" action="/listings/new">
        <button>Create New</button>
    </form>-->
    <div class="row row-cols-lg-3 row-cols-md-2  row-cols-sm-1">
        <% for(let listing of alllistings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col listing-card" >
                <img class="card-img-top" src="<%=listing.image.url%>" alt="listing_image" style="height: 20rem;"/>
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text">
                    <b><%=listing.title%></b><br>
                    &#8377;<%=listing.price.toLocaleString("en-IN")%>/day
                 </p>
                </div>
              </div>
            <%}%>
            </a>
    </div>
</body>
