<%- layout("/layouts/boilerplate") %>
<script>
    const mapToken= "<%=process.env.MAP_TOKEN%>";
    const listing = <%-JSON.stringify(listing)%>;
</script>
<div class="container mt-3"> <!-- Added mt-5 class for top margin -->
    <div class="row">
        <div class="col-8 offset-3 mb-3">
            <h3 mt-3><%= listing.title %>:</h3>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <img class="card-img-top show-img" src="<%= listing.image.url %>" alt="listing_image"/>
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <p><b>Posted By:</b><i>@<%= listing.owner.username %></i></p>
                    <p><b>About:</b><%= listing.description %></p>
                    <p><b>Price:</b>&#8377;<%= listing.price.toLocaleString("en-IN") %>/day</p>
                    <p><b>Mobile Number:</b>+91-<%= listing.mobileno %></p>
                    <p><b>Location:</b><%= listing.location %></p>
                    <p><b>Country:</b><%= listing.country %></p>
                </p>
            </div>
        </div>
        <br>
       
        <div class="btns">
            <% if (currUser && currUser._id.equals(listing.owner._id)) { %><!--To hide edit and delete buttons if its not the user(who logged in) who created it-->
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn col-1 offset-3">Edit</a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-dark add-btn offset-5">Delete</button>
                </form>
            <% } %>
        </div>

        <div class="col-8 offset-3 mb-3">
            <% if (currUser) { %>
                <hr>
                <h4>Leave a Review</h4>
                <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                    <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                      </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comments</label>
                        <textarea name="review[comment]" id="comment" cols="30" rows="4" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter some comments for review</div>
                    </div>
                    <button class="btn btn-dark add-btn">Submit</button>
                </form>
                <hr>
            <% } %>

            <%if(listing.reviews.length>0){%>
            <div class="row">
                <p><b>All Reviews</b></p>
                <% for (let review of listing.reviews) { %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title"><i><b>@<%=review.author.username%></b></i></h5>
                            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                            <p class="card-text"><li><%= review.comment %></li></p>
                            <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="btn-sm btn btn-dark add-btn">Delete</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="col-8 offset-3 mb-3">
            <h3>Caregiver's Location:</h3>
            <div id="map"></div>
        </div>
    </div>
</div>
<script src="/js/map.js"></script>